:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --logo-secondary-color: #000000;
  --bgc-footer: #2f303a;
  --bgc-secondary: #f5f4fa;
  --bgc-total: #ffffff;
  --icon-color: #afb1b8;
  --typical-padding: 94px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--bgc-total);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding: var(--typical-padding) 0;
}

/* ------------HEADER-------------------------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-secondary-color);
}

.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
}

.header-logotip {
  margin-right: 93px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  margin-left: auto;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
  align-items: center;
}

/* ------------HERO-------------------------------------- */
.hero {
  background-color: #2f303a;
  padding: 200px 0;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bgc-footer);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  display: block;
  margin: 30px auto 0 auto;
  border-width: 0px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-color);
  background-color: var(--bgc-total);
}

/* ------------BENEFITS-------------------------------------- */

.benefits {
  padding-bottom: 0;
}

.benefits-list {
  display: flex;
  margin-right: -30px;
}

.benefits-icon {
  background-color: var(--bgc-secondary);
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.benefits-item {
  flex-basis: calc((100%-4 * 30) / 4);
  margin-right: 30px;
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.benefits-text {
  line-height: 1.71;
}

/* ------------WORK-------------------------------------- */

.work-list {
  display: flex;
  margin-right: -30px;
  flex-wrap: wrap;
}

.work-item {
  flex-basis: calc(100% / 3-30px);
  margin-right: 30px;
}

.work-title {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/* ------------TEAM-------------------------------------- */

.team-heading {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-right: -30px;
}

.team-item {
  flex-basis: calc((100%-4 * 30) / 4);
  margin-right: 30px;
  background-color: var(--bgc-total);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 30px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team {
  background-color: var(--bgc-secondary);
}

.team-soc-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-text-color);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

/* ----------CLIENT-------------------------------------------- */

.client-heading {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.client-list {
  display: flex;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-item + .client-item {
  margin-left: 30px;
}

.client-icon {
  fill: currentColor;
}

/* ------------FOOTER-------------------------------------- */

.footer {
  background-color: var(--bgc-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress {
  max-width: 231px;
  margin-right: 70px;
}

.map-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.footer-link:hover,
.footer-link:focus,
.map-link:hover,
.map-link:focus {
  color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact {
  display: flex;
}

.social-network > .text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.network-list {
  display: flex;
}

.network-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.network-link:hover,
.network-link:focus {
  background-color: var(--accent-color);
}

.network-item + .network-item {
  margin-left: 10px;
}

/* ------------PORTFOLIO PAGE-------------------------------------- */

.btn-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--bgc-secondary);
  padding: 6px 22px;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-link{
  display: block;
}

.portfolio-link:hover {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-content {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
}
